{% extends 'base.html'%}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/stylolo.css' %}">
{% include 'navbar.html'%}
<br> <br> <br>


    <form method="POST" action="">
          {% csrf_token %}
        <div class="container">
            <h1>Sign Up</h1>
            <p>Please fill in this form to create an account </p>
            <hr>
            {{clientForm}}
            <br>
            <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label>
            <br><br>

            <br>
            <p>By creating an account you agree to our <a class="a1" href="#" style="color:dodgerblue"  >Terms & Privacy</a>.</p>

            <div class="clearfix">
                <button type="button" class="cancelbtn">Cancel</button>
                <button type="submit" class="signupbtn">Sign Up</button>
            </div>
        </div>
    </form>
{% endblock%}