
{% load static %}
        <div class="portfolio-modal modal fade" id="portfolioModal{{car.id}}" tabindex="-1" aria-labelledby="portfolioModal{{car.id}}" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"> car details</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="{{car.img}}" alt="image not found " />
                                    <br><br><br>
                                    <!-- Portfolio Modal - Text-->
                                    <table class="table table-bordered">
                                          <thead>
                                            <tr>

                                              <th scope="col">Atribute</th>
                                              <th scope="col">Value</th>

                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>

                                              <td>NAME</td>
                                              <td><p class="mb-4">{{car.name}}</p></td>

                                            </tr>

                                            <tr>

                                              <td>MARQUE</td>
                                              <td><p class="mb-4">{{car.marque}}</p></td>

                                            </tr>
                                            <tr>

                                              <td>MILEAGE</td>
                                              <td><p class="mb-4">{{car.mileage}}</p></td>

                                            </tr>
                                            <tr>

                                              <td>MODELE</td>
                                              <td><p class="mb-4">{{car.model}}</p></td>

                                            </tr>
                                            <tr>

                                              <td>PRICE</td>
                                              <td><p class="mb-4">{{car.price}}</p></td>
                                            </tr>

                                            <tr>
                                                <td>GEARBOX </td>
                                                <td><p class="mb-4">{{car.gearbox}}</p></td>
                                            </tr>
                                            <tr>
                                                <td>FUEL</td>
                                                <td><p class="mb-4">{{car.fuel}}</p></td>
                                            </tr>
                                            <tr>
                                                <td>DATE OF PUBLICATION </td>
                                                <td><p class="mb-4">{{car.dateOfPub}}</p></td>
                                            </tr>
                                            <tr>
                                                <td>FISCAL POWER </td>
                                                <td><p class="mb-4">{{car.fiscalPower}}</p></td>
                                            </tr>


                                          </tbody>
                                    </table>
                                    <div class="card-body">
                                        <h1>DESCRIPTION</h1>
                                        <p class="mb-4">{{car.description}}</p>
                                    </div>
                                    <p class="mb-4"></p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
